/*
Theme Name: Betheme
Theme URI: http://themes.muffingroup.com/betheme/
Author: Muffin group
Author URI: http://muffingroup.com/
Description: The biggest WordPress Theme ever
License: Themeforest Split Licence
License URI: -
Version: 20.9.7.4

All css files are placed in /css/ folder
*/
/*.buying-size,.meat-radio*/

.fade{
  opacity: 1!important;
}
.pizza-size ,.meat-radio ,.cheese-radio, .veggie-radio, .buying-size{
	opacity: 0;
	visibility: hidden;
}

.size-medium , .size-large{
  float: left;
}

.cart-price{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 700px;
    color: #c00a27;
}
.carts-price{
  margin-left: 50px;
}

.pizza-size:checked + .size-option-title{
  background-color:#c00a27;
  color:white;
}
.size-option-title{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding-top: 50px;
    border: 2px solid #e1e1e1;;
    color: #666;
    text-align: center;
    font: 20px Arial, sans-serif;
}

.crust-size{
	opacity: 0;
	visibility: hidden;
}

.crust-option-title{
    width: 250px;
    height: 50px;
    padding-top: 12px;
    border: 2px solid #e1e1e1;
    color: #666;
    text-align: center;
    font: 20px Arial, sans-serif;
}
.size-regular , .size-thin{
  float: left;
}
.crust-size:checked + .crust-option-title{
   border: 2px solid #c00a27;
}


/* =============================================
                  MEAT
  ============================================= */

.meat {
    display: block !important;
    cursor: pointer;
    background-size: 110px auto;
    background-position: left center;
    background-repeat: no-repeat;
    border: 3px solid #e1e1e1;
    position: relative;
    padding: 26px 24px 26px 24px;
    transition: border-color 0.3s ease, opacity 0.5s ease;
}



/*#e1e1e1*/
   .buying-size2{
    width: 40px;
    height: 40px;
    background:#e1e1e1;
    border-radius: 50%;
}

  .buying-size1{
    width: 40px;
    left: 0;
    width: 17px;
    border-radius: 36px 0 0 36px;
    height: 40px;
    background: #e1e1e1;
}

  .buying-size3{
    width: 40px;
    height: 40px;
    background: #e1e1e1;
    left: 68px;
    width: 17px;
    border-radius: 0 36px 36px 0;
}
  .buying-size4{
    width: 40px;
    height: 40px;
    background: #e1e1e1;
    border-radius: 50%;
    position: absolute;
    margin-top: -55px;
    margin-left: 200px;
}
  .buying-size4 span{
    margin-left: 10px;
    position: absolute;
    margin-top: 8px;

}
.meat-buttons{
    position: absolute;
    left: 700px;
    top: 25px;
}

.buying-size:checked + .buying-size-checked{
   border: 2px solid #c00a27;
   background-color: #c00a27;
}

.double-size:checked + .checked-double-size{
   border: 2px solid #c00a27;
   background-color: #c00a27;
}

.meat-radio:checked + .meat {
  border: 2px solid #c00a27;
}

/* =============================================
                  MEAT
  ============================================= */


/* =============================================
                  VEGETABLE
  ============================================= */


.veggie{
   display: block !important;
    cursor: pointer;
    background-size: 110px auto;
    background-position: left center;
    background-repeat: no-repeat;
    border: 3px solid #e1e1e1;
    position: relative;
    padding: 26px 24px 26px 24px;
    transition: border-color 0.3s ease, opacity 0.5s ease;
}
.veggie-radio:checked + .veggie {
    border: 2px solid #c00a27;
}

.veggie-buttons{
    position: absolute;
    left: 700px;
    top: 25px;
}

/* =============================================
                  VEGETABLE
  ============================================= */

  /* =============================================
                  CHEESE
  ============================================= */

  .cheese{
   display: block !important;
    cursor: pointer;
    background-size: 110px auto;
    background-position: left center;
    background-repeat: no-repeat;
    border: 3px solid #e1e1e1;
    position: relative;
    padding: 26px 24px 26px 24px;
    transition: border-color 0.3s ease, opacity 0.5s ease;
}
.cheese-radio:checked + .cheese {
    border: 2px solid #c00a27;
}

.cheese-buttons{
    position: absolute;
    left: 700px;
    top: 25px;
}

  /* =============================================
                  CHEESE
  ============================================= */
