/* Demo Data Import 2.0 | .mfn-demo-data --------------------------------------------- */

.mfn-demo-data{font-family:'Open Sans',Arial,sans-serif;margin:20px 20px 0 0;}
.mfn-demo-data p{margin:0 0 15px;}
.mfn-demo-data h3{margin:0 0 15px;}
.mfn-demo-data ul{margin-bottom:15px;}

.mfn-demo-data .align-center{text-align:center;}

.mfn-demo-data a{box-shadow:0 0 0 0 transparent !important;text-decoration:none;}

.mfn-demo-data a.mfn-button{display:block;padding:10px 20px;box-sizing:border-box;margin-bottom:1em;font-size:13px;text-align:center;text-decoration:none;background:#DCDCDE;color:#313133;border-radius:2px;}
.mfn-demo-data a.mfn-button-primary{background:#0096ED;color:#fff;}
.mfn-demo-data a.mfn-button-primary:hover{background:#008EE0}
.mfn-demo-data a.mfn-button-fw{width:100%;box-sizing:border-box;}

.mfn-demo-data a.mfn-button i.dashicons{float:right;}

#mfn-wrapper.mfn-demo-data .mfn-message{padding:15px 20px}
#mfn-wrapper.mfn-demo-data .mfn-message a:hover{text-decoration:underline}

.mfn-demo-data .form-401{margin-top:10px}
.mfn-demo-data .form-401 label{margin-right:7px}
.mfn-demo-data .form-401 input{margin:0 20px 0 0}

.mfn-demo-data form{float:left;width:100%;background:#FAFAFA;}

.mfn-demo-data #mfn-overlay{background:rgba(35,40,45,0.7);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:9990}

/* plugns | activation notices */
#wpbody-content > .updated,
#wpbody-content > #message{display:none!important}


/* header */

.mfn-demo-data .header{margin-bottom:20px;height:54px;background:#23282D;color:#fff;}

.mfn-demo-data .header .logo{float:left;width:30px;height:20px;margin:17px;}
.mfn-demo-data .header .logo svg path{fill:#0096ED;}

.mfn-demo-data .header .title{height:54px;line-height:54px;margin-left:54px;color:#fff;font-size:20px;font-weight:300;}


/* subheader */

.mfn-demo-data .subheader{float:left;width:98%;width:calc(100% - 40px);margin:5px 20px 0;}

.mfn-demo-data .subheader .filters ul{border-bottom:1px solid #E8E8E8;float:left;margin:0;}
.mfn-demo-data .subheader .filters ul li{border-bottom:2px solid transparent;float:left;line-height:30px;margin:0 0 -1px;padding:0 15px;cursor:pointer;}
.mfn-demo-data .subheader .filters ul li.active{border-bottom-color:#0096ED;}
.mfn-demo-data .subheader .filters ul li a{color:#888;}
.mfn-demo-data .subheader .filters ul li:hover a{color:#23282D;}
.mfn-demo-data .subheader .filters ul li.active a{color:#0096ED}

.mfn-demo-data .subheader .filters ul li{transition:border-bottom-color .2s ease-in-out;}
.mfn-demo-data .subheader .filters ul li a{transition:color .2s ease-in-out;}

.mfn-demo-data .subheader .demo-search{border-bottom:1px solid #ddd;float:left;line-height:30px;margin-left:30px;}
.mfn-demo-data .subheader .demo-search .dashicons{line-height:30px;color:#0096ED;}
.mfn-demo-data .subheader .demo-search input{border:none;background:none;font-size:13px;outline:none!important;}


/* all done */
.mfn-demo-data .import-all-done{text-align:center;margin:50px 0;}
.mfn-demo-data .import-all-done .done-image{padding:5px;background:#fff;border:1px solid #F0F0F0;display:inline-block;margin:0 auto 40px;}
.mfn-demo-data .import-all-done .item-image{width:182px;height:155px;}

.mfn-demo-data .import-all-done .done-header{font-size:22px;line-height:27px;font-weight:600;margin-bottom:15px}
.mfn-demo-data .import-all-done .done-subheader{margin-bottom:40px;font-size:18px;line-height:23px;font-weight:300;}

.mfn-demo-data .import-all-done .done-buttons{margin-bottom:50px;}
.mfn-demo-data .import-all-done .done-buttons .mfn-button{display:inline-block;margin:0 5px;padding:10px 40px;}

.mfn-demo-data .import-all-done .done-learn{margin-bottom:20px;font-size:18px;line-height:23px;font-weight:300;}
.mfn-demo-data .import-all-done .done-learn span{color:#A5A7A8}
.mfn-demo-data .import-all-done .done-learn .learn-header{font-size:20px;line-height:25px;font-weight:600;margin:50px 0 10px;}

.mfn-demo-data .import-all-done .done-help{font-size:18px;line-height:23px;font-weight:300;}
.mfn-demo-data .import-all-done .done-help a{display:block;width:300px;margin:0 auto;}
.mfn-demo-data .import-all-done .done-help span{display:block;width:auto;height:auto;margin:0 auto 5px;font-size:30px;}


/* demos */

.mfn-demo-data ul.demos{float:left;margin:20px 15px 5px;}
.mfn-demo-data ul.demos .item{float:left;position:relative;display:block;width:182px;height:187px;padding:5px;margin:0 15px 15px 0;}
.mfn-demo-data ul.demos .item .border{width:100%;height:100%;position:relative;left:-5px;top:-5px;padding:5px;background:#fff;border:1px solid #F0F0F0;}

.mfn-demo-data ul.demos .item .item-inner{position:absolute;left:6px;top:6px;width:182px;height:187px;overflow:hidden;z-index:1;}

.mfn-demo-data ul.demos .item .close{position:absolute;top:0;right:0;padding:10px;text-decoration:none;z-index:-1;opacity:0;color:#8c8d8f;}
.mfn-demo-data ul.demos .item .item-image{width:182px;height:155px}
.mfn-demo-data ul.demos .item .item-title{margin:10px 0 0;text-align:center;text-transform:uppercase;font-weight:600;color:#666;}
.mfn-demo-data ul.demos .item .item-category{font-size:8px;text-align:center;color:#ddd;opacity:0;}
.mfn-demo-data ul.demos .item .item-category .label{margin-right:5px;}
.mfn-demo-data ul.demos .item .item-category .list{color:#9B9CA1;font-style:italic;}

.mfn-demo-data ul.demos .item .item-content{float:left;width:100%;margin-bottom:5px;box-sizing:border-box;background:#FFF;max-height:0;opacity:0;}
.mfn-demo-data ul.demos .item .item-content-wrapper{padding:20px 20px 5px;color:#23282D;opacity:0;}

.mfn-demo-data ul.demos .item .plugins-used{margin-bottom:20px;}
.mfn-demo-data ul.demos .item .plugins-used li{position:relative;padding:0 20px 0 22px;margin-bottom:10px;}
.mfn-demo-data ul.demos .item .plugins-used li:after{content:"";display:block;position:absolute;left:0;top:2px;width:16px;height:16px;background-image:url(../images/plugins.png);background-size:48px 48px;}
.mfn-demo-data ul.demos .item .plugins-used .slider-name{font-style:italic;color:#555;}
.mfn-demo-data ul.demos .item .plugins-used span.install{position:absolute;right:0;top:0;color:#54C25C;}

.mfn-demo-data ul.demos .item .plugins-used li.plugin-mch:after{background-position:-16px 0;}
.mfn-demo-data ul.demos .item .plugins-used li.plugin-cf7:after{background-position:-32px 0;}
.mfn-demo-data ul.demos .item .plugins-used li.plugin-rev:after{background-position:0 -16px;}
.mfn-demo-data ul.demos .item .plugins-used li.plugin-bud:after{background-position:-16px -16px;}
.mfn-demo-data ul.demos .item .plugins-used li.plugin-woo:after{background-position:0 -32px;}

/* demos | hover */

.mfn-demo-data ul.demos .item:hover .border{border-color:#E1E1E1;box-shadow:0px 2px 15px -5px #888888;}
.mfn-demo-data ul.demos .item:hover .item-title{color:#000;}

.mfn-demo-data ul.demos .item:hover:not(.active){cursor:pointer;}

/* demos | active */

.mfn-demo-data ul.demos .item.active .item-inner{height:auto;width:282px;left:-44px;top:-9px;z-index:99990;}

.mfn-demo-data ul.demos .item.active .item-header{padding:15px 10px;background:#32373C;}
.mfn-demo-data ul.demos .item.active .close{z-index:0;opacity:1}
.mfn-demo-data ul.demos .item.active .close:hover{color:#fff;}
.mfn-demo-data ul.demos .item.active .item-image{margin:0 40px;}
.mfn-demo-data ul.demos .item.active .item-title{color:#fff;}
.mfn-demo-data ul.demos .item.active .item-category{font-size:12px;opacity:1;}

.mfn-demo-data ul.demos .item.active .item-content{max-height:500px;opacity:1;}
.mfn-demo-data ul.demos .item.active .item-content-wrapper{opacity:1;}

/* demos | animations - some animations only on .active */

.mfn-demo-data ul.demos .item .border{transition:all .2s ease-in-out}

.mfn-demo-data ul.demos .item .item-inner{transition:all .2s ease-in-out;}
.mfn-demo-data ul.demos .item .item-header{transition:padding .2s ease-in-out,background .2s ease-in-out;}
.mfn-demo-data ul.demos .item .item-title{transition:color .2s ease-in-out;}
.mfn-demo-data ul.demos .item .item-image{transition:all .2s ease-in-out;}
.mfn-demo-data ul.demos .item .item-category{transition:all .15s ease-in-out .05s;}

.mfn-demo-data ul.demos .item.active .close{transition:opacity .15s ease-in-out .05s, color .2s ease-in-out;}
.mfn-demo-data ul.demos .item.active .item-content{transition:all .3s ease-in-out .2s;}
.mfn-demo-data ul.demos .item.active .item-content-wrapper{transition:opacity .2s ease-in-out .4s;}


/* popup */

.mfn-demo-data #mfn-demo-popup{position:fixed;left:50%;top:50%;width:0;min-height:0;max-height:0;overflow:hidden;transform:translate(-50%,-50%);margin-top:16px;background:#fff;z-index:99991;}
.mfn-demo-data #mfn-demo-popup .popup-inner{opacity:0;}

.mfn-demo-data #mfn-demo-popup .popup-header{padding:20px;background:#2d3237}
.mfn-demo-data #mfn-demo-popup .popup-header .item-image{width:182px;height:155px;margin:0 auto;background:url(../images/demos.jpg) 0 0 no-repeat;}

.mfn-demo-data #mfn-demo-popup .popup-content{float:left;box-sizing:border-box;width:100%;padding:20px 20px 5px;}

.mfn-demo-data #mfn-demo-popup .item-title-wrapper{text-align:center;}

.mfn-demo-data #mfn-demo-popup .popup-buttons{overflow:hidden;}
.mfn-demo-data #mfn-demo-popup a.mfn-button-secondary{float:left;width:30%;margin-right:4%;}
.mfn-demo-data #mfn-demo-popup a.mfn-button-primary{float:left;width:66%;}

.mfn-demo-data #mfn-demo-popup .popup-step{display:none;}
.mfn-demo-data #mfn-demo-popup .step-1{display:block;}

/* step 1 */
.mfn-demo-data #mfn-demo-popup .step-1 h3{margin-bottom:10px;}
.mfn-demo-data #mfn-demo-popup .plugins-used{margin-bottom:20px;}
.mfn-demo-data #mfn-demo-popup .plugins-used li{position:relative;padding-left:22px;}
.mfn-demo-data #mfn-demo-popup .plugins-used li:after{content:"";display:block;position:absolute;left:0;top:2px;width:16px;height:16px;background-image:url(../images/plugins.png);background-size:48px 48px;}
.mfn-demo-data #mfn-demo-popup .plugins-used span.install{position:absolute;right:0;top:0;}

/* step 2 */
.mfn-demo-data #mfn-demo-popup .import-options{margin-bottom:15px;padding:10px;border:1px solid #F0F0F0;}
.mfn-demo-data #mfn-demo-popup .import-options.active{border-color:#E1E1E1;box-shadow:0px 2px 15px -5px #888888;}
.mfn-demo-data #mfn-demo-popup .import-options ul{margin:5px 0 0 20px;opacity:.5;}
.mfn-demo-data #mfn-demo-popup .import-options.active ul{opacity:1;}

.mfn-demo-data #mfn-demo-popup:not(.slider) .import-options .slider{display:none}
.mfn-demo-data #mfn-demo-popup:not(.slider-active) .import-options .slider-active{display:none}

/* step 3 */
.mfn-demo-data #mfn-demo-popup .import-progress-bar{position:relative;float:left;width:100%;height:15px;margin:5px 0 20px;border-radius:2px;overflow:hidden;background-color:#0096ED;}
.mfn-demo-data #mfn-demo-popup .import-progress-bar:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(.25,rgba(255,255,255,.5)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.5)),color-stop(.75,rgba(255,255,255,.5)),color-stop(.75,transparent),to(transparent));background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);-webkit-background-size:50px 50px;-moz-background-size:50px 50px;-webkit-animation:move 2s linear infinite}
@-webkit-keyframes move {
0%{background-position:0 0}
100%{background-position:50px 50px}
}


/* popup | active */

.mfn-demo-data #mfn-demo-popup.active{width:400px;min-height:350px;max-height:580px;}
.mfn-demo-data #mfn-demo-popup.active .popup-inner{opacity:1;}

/* popup | animations - some animations only on .active */

.mfn-demo-data #mfn-demo-popup{transition:all .2s ease-in-out .1s;}
.mfn-demo-data #mfn-demo-popup .popup-inner{transition:opacity .2s ease-in-out;}

.mfn-demo-data #mfn-demo-popup.active{transition-delay:.2s;}
.mfn-demo-data #mfn-demo-popup.active .popup-inner{transition-delay:.4s;}


/* RTL */

.rtl .mfn-demo-data{margin-left:20px;margin-right:0}
.rtl .mfn-demo-data .header .logo{float:right}

.rtl .mfn-demo-data .subheader .filters{float:right}
.rtl .mfn-demo-data .subheader .filters ul li{float:right}
.rtl .mfn-demo-data .subheader .demo-search{float:right;margin-left:0;margin-right:30px}

.rtl .mfn-demo-data ul.demos .item{float:right;margin-left:15px;margin-right:0;direction:ltr}
.rtl .mfn-demo-data ul.demos .item .item-inner{direction:rtl}

.rtl .mfn-demo-data ul.demos .item .plugins-used li:after{left:auto;right:0}
.rtl .mfn-demo-data ul.demos .item .plugins-used span.install{left:0;right:auto}

.rtl .mfn-demo-data #mfn-demo-popup .plugins-used li{padding-left:0;padding-right:22px}
.rtl .mfn-demo-data #mfn-demo-popup .plugins-used li::after{left:auto;right:0}
.rtl .mfn-demo-data #mfn-demo-popup .plugins-used span.install{left:0;right:auto}

.rtl .mfn-demo-data #mfn-demo-popup .import-options ul{margin-left:0;margin-right:20px}


/* images | sprite */

.mfn-demo-data .item .item-image{background:url(../images/demos.jpg) 0 0 no-repeat;}
.mfn-demo-data .item[data-id="splash"] .item-image{background:url(../images/splash.jpg) 0 0 no-repeat;}

/* use sprite.php script to generate below CSS */
.mfn-demo-data .item[data-id="wedding"] .item-image{background-position:-182px 0}
.mfn-demo-data .item[data-id="transport"] .item-image{background-position:-364px 0}
.mfn-demo-data .item[data-id="shop"] .item-image{background-position:-546px 0}
.mfn-demo-data .item[data-id="school"] .item-image{background-position:-728px 0}
.mfn-demo-data .item[data-id="resume"] .item-image{background-position:-910px 0}
.mfn-demo-data .item[data-id="restaurant"] .item-image{background-position:-1092px 0}
.mfn-demo-data .item[data-id="renovate"] .item-image{background-position:-1274px 0}
.mfn-demo-data .item[data-id="portfolio"] .item-image{background-position:0 -155px}
.mfn-demo-data .item[data-id="photo"] .item-image{background-position:-182px -155px}
.mfn-demo-data .item[data-id="parallax"] .item-image{background-position:-364px -155px}
.mfn-demo-data .item[data-id="onepage"] .item-image{background-position:-546px -155px}
.mfn-demo-data .item[data-id="medic"] .item-image{background-position:-728px -155px}
.mfn-demo-data .item[data-id="mechanic"] .item-image{background-position:-910px -155px}
.mfn-demo-data .item[data-id="lawyer"] .item-image{background-position:-1092px -155px}
.mfn-demo-data .item[data-id="landing"] .item-image{background-position:-1274px -155px}
.mfn-demo-data .item[data-id="hotel"] .item-image{background-position:0 -310px}
.mfn-demo-data .item[data-id="creative"] .item-image{background-position:-182px -310px}
.mfn-demo-data .item[data-id="church"] .item-image{background-position:-364px -310px}
.mfn-demo-data .item[data-id="business"] .item-image{background-position:-546px -310px}
.mfn-demo-data .item[data-id="blogger"] .item-image{background-position:-728px -310px}
.mfn-demo-data .item[data-id="beauty"] .item-image{background-position:-910px -310px}
.mfn-demo-data .item[data-id="estate"] .item-image{background-position:-1092px -310px}
.mfn-demo-data .item[data-id="agency"] .item-image{background-position:-1274px -310px}
.mfn-demo-data .item[data-id="travel"] .item-image{background-position:0 -465px}
.mfn-demo-data .item[data-id="hosting"] .item-image{background-position:-182px -465px}
.mfn-demo-data .item[data-id="marketing"] .item-image{background-position:-364px -465px}
.mfn-demo-data .item[data-id="design"] .item-image{background-position:-546px -465px}
.mfn-demo-data .item[data-id="gym"] .item-image{background-position:-728px -465px}
.mfn-demo-data .item[data-id="press"] .item-image{background-position:-910px -465px}
.mfn-demo-data .item[data-id="spa"] .item-image{background-position:-1092px -465px}
.mfn-demo-data .item[data-id="university"] .item-image{background-position:-1274px -465px}
.mfn-demo-data .item[data-id="band"] .item-image{background-position:0 -620px}
.mfn-demo-data .item[data-id="carrental"] .item-image{background-position:-182px -620px}
.mfn-demo-data .item[data-id="developer"] .item-image{background-position:-364px -620px}
.mfn-demo-data .item[data-id="event"] .item-image{background-position:-546px -620px}
.mfn-demo-data .item[data-id="pizza"] .item-image{background-position:-728px -620px}
.mfn-demo-data .item[data-id="seo"] .item-image{background-position:-910px -620px}
.mfn-demo-data .item[data-id="app"] .item-image{background-position:-1092px -620px}
.mfn-demo-data .item[data-id="webmaster"] .item-image{background-position:-1274px -620px}
.mfn-demo-data .item[data-id="interior"] .item-image{background-position:0 -775px}
.mfn-demo-data .item[data-id="art"] .item-image{background-position:-182px -775px}
.mfn-demo-data .item[data-id="tourist"] .item-image{background-position:-364px -775px}
.mfn-demo-data .item[data-id="bw"] .item-image{background-position:-546px -775px}
.mfn-demo-data .item[data-id="sketch"] .item-image{background-position:-728px -775px}
.mfn-demo-data .item[data-id="dj"] .item-image{background-position:-910px -775px}
.mfn-demo-data .item[data-id="plumber"] .item-image{background-position:-1092px -775px}
.mfn-demo-data .item[data-id="book"] .item-image{background-position:-1274px -775px}
.mfn-demo-data .item[data-id="barber"] .item-image{background-position:0 -930px}
.mfn-demo-data .item[data-id="fit"] .item-image{background-position:-182px -930px}
.mfn-demo-data .item[data-id="moving"] .item-image{background-position:-364px -930px}
.mfn-demo-data .item[data-id="sitter"] .item-image{background-position:-546px -930px}
.mfn-demo-data .item[data-id="charity"] .item-image{background-position:-728px -930px}
.mfn-demo-data .item[data-id="loans"] .item-image{background-position:-910px -930px}
.mfn-demo-data .item[data-id="vet"] .item-image{background-position:-1092px -930px}
.mfn-demo-data .item[data-id="electric"] .item-image{background-position:-1274px -930px}
.mfn-demo-data .item[data-id="architect"] .item-image{background-position:0 -1085px}
.mfn-demo-data .item[data-id="museum"] .item-image{background-position:-182px -1085px}
.mfn-demo-data .item[data-id="furniture"] .item-image{background-position:-364px -1085px}
.mfn-demo-data .item[data-id="security"] .item-image{background-position:-546px -1085px}
.mfn-demo-data .item[data-id="language"] .item-image{background-position:-728px -1085px}
.mfn-demo-data .item[data-id="baker"] .item-image{background-position:-910px -1085px}
.mfn-demo-data .item[data-id="pr"] .item-image{background-position:-1092px -1085px}
.mfn-demo-data .item[data-id="model"] .item-image{background-position:-1274px -1085px}
.mfn-demo-data .item[data-id="vision"] .item-image{background-position:0 -1240px}
.mfn-demo-data .item[data-id="party"] .item-image{background-position:-182px -1240px}
.mfn-demo-data .item[data-id="driving"] .item-image{background-position:-364px -1240px}
.mfn-demo-data .item[data-id="insurance"] .item-image{background-position:-546px -1240px}
.mfn-demo-data .item[data-id="yoga"] .item-image{background-position:-728px -1240px}
.mfn-demo-data .item[data-id="tattoo"] .item-image{background-position:-910px -1240px}
.mfn-demo-data .item[data-id="launch"] .item-image{background-position:-1092px -1240px}
.mfn-demo-data .item[data-id="energy"] .item-image{background-position:-1274px -1240px}
.mfn-demo-data .item[data-id="pole"] .item-image{background-position:0 -1395px}
.mfn-demo-data .item[data-id="politics"] .item-image{background-position:-182px -1395px}
.mfn-demo-data .item[data-id="records"] .item-image{background-position:-364px -1395px}
.mfn-demo-data .item[data-id="jeweler"] .item-image{background-position:-546px -1395px}
.mfn-demo-data .item[data-id="itservice"] .item-image{background-position:-728px -1395px}
.mfn-demo-data .item[data-id="cleaner"] .item-image{background-position:-910px -1395px}
.mfn-demo-data .item[data-id="finance"] .item-image{background-position:-1092px -1395px}
.mfn-demo-data .item[data-id="coffee"] .item-image{background-position:-1274px -1395px}
.mfn-demo-data .item[data-id="bar"] .item-image{background-position:0 -1550px}
.mfn-demo-data .item[data-id="fix"] .item-image{background-position:-182px -1550px}
.mfn-demo-data .item[data-id="disco"] .item-image{background-position:-364px -1550px}
.mfn-demo-data .item[data-id="fashion"] .item-image{background-position:-546px -1550px}
.mfn-demo-data .item[data-id="play"] .item-image{background-position:-728px -1550px}
.mfn-demo-data .item[data-id="clinic"] .item-image{background-position:-910px -1550px}
.mfn-demo-data .item[data-id="steak"] .item-image{background-position:-1092px -1550px}
.mfn-demo-data .item[data-id="video"] .item-image{background-position:-1274px -1550px}
.mfn-demo-data .item[data-id="congress"] .item-image{background-position:0 -1705px}
.mfn-demo-data .item[data-id="adagency"] .item-image{background-position:-182px -1705px}
.mfn-demo-data .item[data-id="safari"] .item-image{background-position:-364px -1705px}
.mfn-demo-data .item[data-id="webdesign"] .item-image{background-position:-546px -1705px}
.mfn-demo-data .item[data-id="animals"] .item-image{background-position:-728px -1705px}
.mfn-demo-data .item[data-id="store"] .item-image{background-position:-910px -1705px}
.mfn-demo-data .item[data-id="sport"] .item-image{background-position:-1092px -1705px}
.mfn-demo-data .item[data-id="recipes"] .item-image{background-position:-1274px -1705px}
.mfn-demo-data .item[data-id="factory"] .item-image{background-position:0 -1860px}
.mfn-demo-data .item[data-id="story"] .item-image{background-position:-182px -1860px}
.mfn-demo-data .item[data-id="translator"] .item-image{background-position:-364px -1860px}
.mfn-demo-data .item[data-id="handyman"] .item-image{background-position:-546px -1860px}
.mfn-demo-data .item[data-id="flower"] .item-image{background-position:-728px -1860px}
.mfn-demo-data .item[data-id="theater"] .item-image{background-position:-910px -1860px}
.mfn-demo-data .item[data-id="golf"] .item-image{background-position:-1092px -1860px}
.mfn-demo-data .item[data-id="callcenter"] .item-image{background-position:-1274px -1860px}
.mfn-demo-data .item[data-id="massage"] .item-image{background-position:0 -2015px}
.mfn-demo-data .item[data-id="bikerental"] .item-image{background-position:-182px -2015px}
.mfn-demo-data .item[data-id="cafe"] .item-image{background-position:-364px -2015px}
.mfn-demo-data .item[data-id="showcase"] .item-image{background-position:-546px -2015px}
.mfn-demo-data .item[data-id="transfer"] .item-image{background-position:-728px -2015px}
.mfn-demo-data .item[data-id="kravmaga"] .item-image{background-position:-910px -2015px}
.mfn-demo-data .item[data-id="dentist"] .item-image{background-position:-1092px -2015px}
.mfn-demo-data .item[data-id="jet"] .item-image{background-position:-1274px -2015px}
.mfn-demo-data .item[data-id="cosmetics"] .item-image{background-position:0 -2170px}
.mfn-demo-data .item[data-id="media"] .item-image{background-position:-182px -2170px}
.mfn-demo-data .item[data-id="agro"] .item-image{background-position:-364px -2170px}
.mfn-demo-data .item[data-id="interactive"] .item-image{background-position:-546px -2170px}
.mfn-demo-data .item[data-id="constructor"] .item-image{background-position:-728px -2170px}
.mfn-demo-data .item[data-id="icecream"] .item-image{background-position:-910px -2170px}
.mfn-demo-data .item[data-id="digital"] .item-image{background-position:-1092px -2170px}
.mfn-demo-data .item[data-id="library"] .item-image{background-position:-1274px -2170px}
.mfn-demo-data .item[data-id="software"] .item-image{background-position:0 -2325px}
.mfn-demo-data .item[data-id="garden"] .item-image{background-position:-182px -2325px}
.mfn-demo-data .item[data-id="surfing"] .item-image{background-position:-364px -2325px}
.mfn-demo-data .item[data-id="wine"] .item-image{background-position:-546px -2325px}
.mfn-demo-data .item[data-id="coaching"] .item-image{background-position:-728px -2325px}
.mfn-demo-data .item[data-id="karting"] .item-image{background-position:-910px -2325px}
.mfn-demo-data .item[data-id="builder"] .item-image{background-position:-1092px -2325px}
.mfn-demo-data .item[data-id="decor"] .item-image{background-position:-1274px -2325px}
.mfn-demo-data .item[data-id="taxi"] .item-image{background-position:0 -2480px}
.mfn-demo-data .item[data-id="glasses"] .item-image{background-position:-182px -2480px}
.mfn-demo-data .item[data-id="smart"] .item-image{background-position:-364px -2480px}
.mfn-demo-data .item[data-id="tuning"] .item-image{background-position:-546px -2480px}
.mfn-demo-data .item[data-id="typo"] .item-image{background-position:-728px -2480px}
.mfn-demo-data .item[data-id="voyager"] .item-image{background-position:-910px -2480px}
.mfn-demo-data .item[data-id="extreme"] .item-image{background-position:-1092px -2480px}
.mfn-demo-data .item[data-id="simple"] .item-image{background-position:-1274px -2480px}
.mfn-demo-data .item[data-id="journalist"] .item-image{background-position:0 -2635px}
.mfn-demo-data .item[data-id="asg"] .item-image{background-position:-182px -2635px}
.mfn-demo-data .item[data-id="zoo"] .item-image{background-position:-364px -2635px}
.mfn-demo-data .item[data-id="lab"] .item-image{background-position:-546px -2635px}
.mfn-demo-data .item[data-id="buddy"] .item-image{background-position:-728px -2635px}
.mfn-demo-data .item[data-id="club"] .item-image{background-position:-910px -2635px}
.mfn-demo-data .item[data-id="space"] .item-image{background-position:-1092px -2635px}
.mfn-demo-data .item[data-id="handmade"] .item-image{background-position:-1274px -2635px}
.mfn-demo-data .item[data-id="investment"] .item-image{background-position:0 -2790px}
.mfn-demo-data .item[data-id="dietitian"] .item-image{background-position:-182px -2790px}
.mfn-demo-data .item[data-id="notebook"] .item-image{background-position:-364px -2790px}
.mfn-demo-data .item[data-id="horse"] .item-image{background-position:-546px -2790px}
.mfn-demo-data .item[data-id="copywriter"] .item-image{background-position:-728px -2790px}
.mfn-demo-data .item[data-id="farmer"] .item-image{background-position:-910px -2790px}
.mfn-demo-data .item[data-id="profile"] .item-image{background-position:-1092px -2790px}
.mfn-demo-data .item[data-id="burger"] .item-image{background-position:-1274px -2790px}
.mfn-demo-data .item[data-id="exposure"] .item-image{background-position:0 -2945px}
.mfn-demo-data .item[data-id="xmas"] .item-image{background-position:-182px -2945px}
.mfn-demo-data .item[data-id="renovate2"] .item-image{background-position:-364px -2945px}
.mfn-demo-data .item[data-id="business2"] .item-image{background-position:-546px -2945px}
.mfn-demo-data .item[data-id="billiard"] .item-image{background-position:-728px -2945px}
.mfn-demo-data .item[data-id="moving2"] .item-image{background-position:-910px -2945px}
.mfn-demo-data .item[data-id="hotel2"] .item-image{background-position:-1092px -2945px}
.mfn-demo-data .item[data-id="carver"] .item-image{background-position:-1274px -2945px}
.mfn-demo-data .item[data-id="science"] .item-image{background-position:0 -3100px}
.mfn-demo-data .item[data-id="journey"] .item-image{background-position:-182px -3100px}
.mfn-demo-data .item[data-id="industry"] .item-image{background-position:-364px -3100px}
.mfn-demo-data .item[data-id="interior2"] .item-image{background-position:-546px -3100px}
.mfn-demo-data .item[data-id="firm"] .item-image{background-position:-728px -3100px}
.mfn-demo-data .item[data-id="service"] .item-image{background-position:-910px -3100px}
.mfn-demo-data .item[data-id="blogger2"] .item-image{background-position:-1092px -3100px}
.mfn-demo-data .item[data-id="ski"] .item-image{background-position:-1274px -3100px}
.mfn-demo-data .item[data-id="kindergarten"] .item-image{background-position:0 -3255px}
.mfn-demo-data .item[data-id="painter"] .item-image{background-position:-182px -3255px}
.mfn-demo-data .item[data-id="design2"] .item-image{background-position:-364px -3255px}
.mfn-demo-data .item[data-id="fitness"] .item-image{background-position:-546px -3255px}
.mfn-demo-data .item[data-id="beauty2"] .item-image{background-position:-728px -3255px}
.mfn-demo-data .item[data-id="sushi"] .item-image{background-position:-910px -3255px}
.mfn-demo-data .item[data-id="accountant"] .item-image{background-position:-1092px -3255px}
.mfn-demo-data .item[data-id="retouch"] .item-image{background-position:-1274px -3255px}
.mfn-demo-data .item[data-id="mining"] .item-image{background-position:0 -3410px}
.mfn-demo-data .item[data-id="carpenter"] .item-image{background-position:-182px -3410px}
.mfn-demo-data .item[data-id="charity2"] .item-image{background-position:-364px -3410px}
.mfn-demo-data .item[data-id="toy"] .item-image{background-position:-546px -3410px}
.mfn-demo-data .item[data-id="tea"] .item-image{background-position:-728px -3410px}
.mfn-demo-data .item[data-id="holding"] .item-image{background-position:-910px -3410px}
.mfn-demo-data .item[data-id="kebab"] .item-image{background-position:-1092px -3410px}
.mfn-demo-data .item[data-id="app2"] .item-image{background-position:-1274px -3410px}
.mfn-demo-data .item[data-id="lifestyle"] .item-image{background-position:0 -3565px}
.mfn-demo-data .item[data-id="freelancer"] .item-image{background-position:-182px -3565px}
.mfn-demo-data .item[data-id="tiles"] .item-image{background-position:-364px -3565px}
.mfn-demo-data .item[data-id="pets"] .item-image{background-position:-546px -3565px}
.mfn-demo-data .item[data-id="vpn"] .item-image{background-position:-728px -3565px}
.mfn-demo-data .item[data-id="music"] .item-image{background-position:-910px -3565px}
.mfn-demo-data .item[data-id="hr"] .item-image{background-position:-1092px -3565px}
.mfn-demo-data .item[data-id="pharmacy"] .item-image{background-position:-1274px -3565px}
.mfn-demo-data .item[data-id="casino"] .item-image{background-position:0 -3720px}
.mfn-demo-data .item[data-id="ngo"] .item-image{background-position:-182px -3720px}
.mfn-demo-data .item[data-id="bistro"] .item-image{background-position:-364px -3720px}
.mfn-demo-data .item[data-id="eco"] .item-image{background-position:-546px -3720px}
.mfn-demo-data .item[data-id="movie"] .item-image{background-position:-728px -3720px}
.mfn-demo-data .item[data-id="perfume"] .item-image{background-position:-910px -3720px}
.mfn-demo-data .item[data-id="print"] .item-image{background-position:-1092px -3720px}
.mfn-demo-data .item[data-id="aquapark"] .item-image{background-position:-1274px -3720px}
.mfn-demo-data .item[data-id="technics"] .item-image{background-position:0 -3875px}
.mfn-demo-data .item[data-id="wedding2"] .item-image{background-position:-182px -3875px}
.mfn-demo-data .item[data-id="architect2"] .item-image{background-position:-364px -3875px}
.mfn-demo-data .item[data-id="makeup"] .item-image{background-position:-546px -3875px}
.mfn-demo-data .item[data-id="car"] .item-image{background-position:-728px -3875px}
.mfn-demo-data .item[data-id="smarthome"] .item-image{background-position:-910px -3875px}
.mfn-demo-data .item[data-id="seo2"] .item-image{background-position:-1092px -3875px}
.mfn-demo-data .item[data-id="underwater"] .item-image{background-position:-1274px -3875px}
.mfn-demo-data .item[data-id="medic2"] .item-image{background-position:0 -4030px}
.mfn-demo-data .item[data-id="minimal"] .item-image{background-position:-182px -4030px}
.mfn-demo-data .item[data-id="agency2"] .item-image{background-position:-364px -4030px}
.mfn-demo-data .item[data-id="goodfood"] .item-image{background-position:-546px -4030px}
.mfn-demo-data .item[data-id="barber2"] .item-image{background-position:-728px -4030px}
.mfn-demo-data .item[data-id="mechanic2"] .item-image{background-position:-910px -4030px}
.mfn-demo-data .item[data-id="writer"] .item-image{background-position:-1092px -4030px}
.mfn-demo-data .item[data-id="biker"] .item-image{background-position:-1274px -4030px}
.mfn-demo-data .item[data-id="tailor"] .item-image{background-position:0 -4185px}
.mfn-demo-data .item[data-id="watch"] .item-image{background-position:-182px -4185px}
.mfn-demo-data .item[data-id="lawyer2"] .item-image{background-position:-364px -4185px}
.mfn-demo-data .item[data-id="ebook"] .item-image{background-position:-546px -4185px}
.mfn-demo-data .item[data-id="hifi"] .item-image{background-position:-728px -4185px}
.mfn-demo-data .item[data-id="pizza2"] .item-image{background-position:-910px -4185px}
.mfn-demo-data .item[data-id="logistics"] .item-image{background-position:-1092px -4185px}
.mfn-demo-data .item[data-id="moto"] .item-image{background-position:-1274px -4185px}
.mfn-demo-data .item[data-id="biolab"] .item-image{background-position:0 -4340px}
.mfn-demo-data .item[data-id="snapshot"] .item-image{background-position:-182px -4340px}
.mfn-demo-data .item[data-id="herbal"] .item-image{background-position:-364px -4340px}
.mfn-demo-data .item[data-id="wallet"] .item-image{background-position:-546px -4340px}
.mfn-demo-data .item[data-id="surveyor"] .item-image{background-position:-728px -4340px}
.mfn-demo-data .item[data-id="couturier"] .item-image{background-position:-910px -4340px}
.mfn-demo-data .item[data-id="training"] .item-image{background-position:-1092px -4340px}
.mfn-demo-data .item[data-id="fireplace"] .item-image{background-position:-1274px -4340px}
.mfn-demo-data .item[data-id="xmas2"] .item-image{background-position:0 -4495px}
.mfn-demo-data .item[data-id="developer2"] .item-image{background-position:-182px -4495px}
.mfn-demo-data .item[data-id="musician"] .item-image{background-position:-364px -4495px}
.mfn-demo-data .item[data-id="corporation"] .item-image{background-position:-546px -4495px}
.mfn-demo-data .item[data-id="shoes"] .item-image{background-position:-728px -4495px}
.mfn-demo-data .item[data-id="active"] .item-image{background-position:-910px -4495px}
.mfn-demo-data .item[data-id="home"] .item-image{background-position:-1092px -4495px}
.mfn-demo-data .item[data-id="detailing"] .item-image{background-position:-1274px -4495px}
.mfn-demo-data .item[data-id="wine2"] .item-image{background-position:0 -4650px}
.mfn-demo-data .item[data-id="creative2"] .item-image{background-position:-182px -4650px}
.mfn-demo-data .item[data-id="furniture2"] .item-image{background-position:-364px -4650px}
.mfn-demo-data .item[data-id="dentist2"] .item-image{background-position:-546px -4650px}
.mfn-demo-data .item[data-id="restaurant2"] .item-image{background-position:-728px -4650px}
.mfn-demo-data .item[data-id="wildlife"] .item-image{background-position:-910px -4650px}
.mfn-demo-data .item[data-id="guesthouse"] .item-image{background-position:-1092px -4650px}
.mfn-demo-data .item[data-id="stone"] .item-image{background-position:-1274px -4650px}
.mfn-demo-data .item[data-id="boutique"] .item-image{background-position:-0 -4805px}
.mfn-demo-data .item[data-id="diet"] .item-image{background-position:-182px -4805px}
.mfn-demo-data .item[data-id="productions"] .item-image{background-position:-364px -4805px}
.mfn-demo-data .item[data-id="sportsclub"] .item-image{background-position:-546px -4805px}
.mfn-demo-data .item[data-id="oculist"] .item-image{background-position:-728px -4805px}
.mfn-demo-data .item[data-id="artist"] .item-image{background-position:-910px -4805px}
.mfn-demo-data .item[data-id="elearning"] .item-image{background-position:-1092px -4805px}
.mfn-demo-data .item[data-id="craftbeer"] .item-image{background-position:-1274px -4805px}
.mfn-demo-data .item[data-id="animalshelter"] .item-image{background-position:-0 -4960px}
.mfn-demo-data .item[data-id="weddingvideos"] .item-image{background-position:-182px -4960px}
.mfn-demo-data .item[data-id="garden2"] .item-image{background-position:-364px -4960px}
.mfn-demo-data .item[data-id="philharmonic"] .item-image{background-position:-546px -4960px}
.mfn-demo-data .item[data-id="loans2"] .item-image{background-position:-728px -4960px}
.mfn-demo-data .item[data-id="fareast"] .item-image{background-position:-910px -4960px}
.mfn-demo-data .item[data-id="upholsterer"] .item-image{background-position:-1092px -4960px}
.mfn-demo-data .item[data-id="it"] .item-image{background-position:-1274px -4960px}
.mfn-demo-data .item[data-id="spa2"] .item-image{background-position:0 -5115px}
.mfn-demo-data .item[data-id="code"] .item-image{background-position:-182px -5115px}
.mfn-demo-data .item[data-id="3d"] .item-image{background-position:-364px -5115px}
.mfn-demo-data .item[data-id="repair"] .item-image{background-position:-546px -5115px}
.mfn-demo-data .item[data-id="sushi2"] .item-image{background-position:-728px -5115px}
.mfn-demo-data .item[data-id="assistance"] .item-image{background-position:-910px -5115px}
.mfn-demo-data .item[data-id="clinic2"] .item-image{background-position:-1092px -5115px}
.mfn-demo-data .item[data-id="marina"] .item-image{background-position:-1274px -5115px}
.mfn-demo-data .item[data-id="game"] .item-image{background-position:0 -5270px}
.mfn-demo-data .item[data-id="hiphop"] .item-image{background-position:-182px -5270px}
.mfn-demo-data .item[data-id="tiles2"] .item-image{background-position:-364px -5270px}
.mfn-demo-data .item[data-id="cafe2"] .item-image{background-position:-546px -5270px}
.mfn-demo-data .item[data-id="meat"] .item-image{background-position:-728px -5270px}
.mfn-demo-data .item[data-id="vegetables"] .item-image{background-position:-910px -5270px}
.mfn-demo-data .item[data-id="meeting"] .item-image{background-position:-1092px -5270px}
.mfn-demo-data .item[data-id="manicure"] .item-image{background-position:-1274px -5270px}
.mfn-demo-data .item[data-id="denim"] .item-image{background-position:-0 -5425px}
.mfn-demo-data .item[data-id="mockup"] .item-image{background-position:-182px -5425px}
.mfn-demo-data .item[data-id="drawing"] .item-image{background-position:-364px -5425px}
.mfn-demo-data .item[data-id="detailing2"] .item-image{background-position:-546px -5425px}
.mfn-demo-data .item[data-id="salmon"] .item-image{background-position:-910px -5425px}
.mfn-demo-data .item[data-id="airport"] .item-image{background-position:-728px -5425px}
.mfn-demo-data .item[data-id="internet"] .item-image{background-position:-1092px -5425px}
.mfn-demo-data .item[data-id="carpenter2"] .item-image{background-position:-1274px -5425px}
.mfn-demo-data .item[data-id="detailing3"] .item-image{background-position:-0 -5580px}
.mfn-demo-data .item[data-id="personaltrainer"] .item-image{background-position:-182px -5580px}
.mfn-demo-data .item[data-id="developer3"] .item-image{background-position:-364px -5580px}
.mfn-demo-data .item[data-id="artist2"] .item-image{background-position:-546px -5580px}
.mfn-demo-data .item[data-id="animals2"] .item-image{background-position:-728px -5580px}
.mfn-demo-data .item[data-id="pay"] .item-image{background-position:-910px -5580px}
.mfn-demo-data .item[data-id="watchmaker"] .item-image{background-position:-1092px -5580px}
.mfn-demo-data .item[data-id="employment"] .item-image{background-position:-1274px -5580px}
.mfn-demo-data .item[data-id="language2"] .item-image{background-position:-0 -5735px}
.mfn-demo-data .item[data-id="music2"] .item-image{background-position:-182px -5735px}
.mfn-demo-data .item[data-id="bistro2"] .item-image{background-position:-364px -5735px}
.mfn-demo-data .item[data-id="company"] .item-image{background-position:-546px -5735px}
.mfn-demo-data .item[data-id="stylist"] .item-image{background-position:-728px -5735px}
.mfn-demo-data .item[data-id="winter"] .item-image{background-position:-910px -5735px}
.mfn-demo-data .item[data-id="cv"] .item-image{background-position:-1092px -5735px}
.mfn-demo-data .item[data-id="pizza3"] .item-image{background-position:-1274px -5735px}
.mfn-demo-data .item[data-id="wanderer"] .item-image{background-position:-0 -5890px}
.mfn-demo-data .item[data-id="snowpark"] .item-image{background-position:-182px -5890px}
.mfn-demo-data .item[data-id="gsmservice"] .item-image{background-position:-364px -5890px}
.mfn-demo-data .item[data-id="carwash"] .item-image{background-position:-546px -5890px}
.mfn-demo-data .item[data-id="robotics"] .item-image{background-position:-728px -5890px}
.mfn-demo-data .item[data-id="photography"] .item-image{background-position:-910px -5890px}
.mfn-demo-data .item[data-id="app3"] .item-image{background-position:-1092px -5890px}
.mfn-demo-data .item[data-id="hotel3"] .item-image{background-position:-1274px -5890px}
.mfn-demo-data .item[data-id="ecobeef"] .item-image{background-position:-0 -6045px}
.mfn-demo-data .item[data-id="birthday"] .item-image{background-position:-182px -6045px}
.mfn-demo-data .item[data-id="lawyer3"] .item-image{background-position:-364px -6045px}
.mfn-demo-data .item[data-id="webdeveloper"] .item-image{background-position:-546px -6045px}
.mfn-demo-data .item[data-id="yoga2"] .item-image{background-position:-728px -6045px}
.mfn-demo-data .item[data-id="farm"] .item-image{background-position:-910px -6045px}
.mfn-demo-data .item[data-id="decor2"] .item-image{background-position:-1092px -6045px}
.mfn-demo-data .item[data-id="accountant2"] .item-image{background-position:-1274px -6045px}
.mfn-demo-data .item[data-id="museum2"] .item-image{background-position:0 -6200px}
.mfn-demo-data .item[data-id="bar2"] .item-image{background-position:-182px -6200px}
.mfn-demo-data .item[data-id="resort"] .item-image{background-position:-364px -6200px}
.mfn-demo-data .item[data-id="dietitian2"] .item-image{background-position:-546px -6200px}
.mfn-demo-data .item[data-id="clothing"] .item-image{background-position:-728px -6200px}
.mfn-demo-data .item[data-id="actor"] .item-image{background-position:-910px -6200px}
.mfn-demo-data .item[data-id="fitness2"] .item-image{background-position:-1092px -6200px}
.mfn-demo-data .item[data-id="mechanic3"] .item-image{background-position:-1274px -6200px}
.mfn-demo-data .item[data-id="hairdresser"] .item-image{background-position:-0 -6355px}
.mfn-demo-data .item[data-id="tea2"] .item-image{background-position:-182px -6355px}
.mfn-demo-data .item[data-id="universe"] .item-image{background-position:-364px -6355px}
.mfn-demo-data .item[data-id="accountant3"] .item-image{background-position:-546px -6355px}
.mfn-demo-data .item[data-id="adventure"] .item-image{background-position:-728px -6355px}
.mfn-demo-data .item[data-id="architect3"] .item-image{background-position:-910px -6355px}
.mfn-demo-data .item[data-id="simple2"] .item-image{background-position:-1092px -6355px}
.mfn-demo-data .item[data-id="company2"] .item-image{background-position:-1274px -6355px}
.mfn-demo-data .item[data-id="thriller"] .item-image{background-position:-0 -6510px}
.mfn-demo-data .item[data-id="repair2"] .item-image{background-position:-182px -6510px}
.mfn-demo-data .item[data-id="event2"] .item-image{background-position:-364px -6510px}
.mfn-demo-data .item[data-id="security2"] .item-image{background-position:-546px -6510px}
.mfn-demo-data .item[data-id="funeralhome"] .item-image{background-position:-728px -6510px}
.mfn-demo-data .item[data-id="church2"] .item-image{background-position:-910px -6510px}
.mfn-demo-data .item[data-id="fantasy"] .item-image{background-position:-1092px -6510px}
.mfn-demo-data .item[data-id="garden3"] .item-image{background-position:-1274px -6510px}
.mfn-demo-data .item[data-id="eco2"] .item-image{background-position:-0 -6665px}
.mfn-demo-data .item[data-id="gym2"] .item-image{background-position:-182px -6665px}
.mfn-demo-data .item[data-id="coffee2"] .item-image{background-position:-364px -6665px}
.mfn-demo-data .item[data-id="kindergarten2"] .item-image{background-position:-546px -6665px}
.mfn-demo-data .item[data-id="barman"] .item-image{background-position:-728px -6665px}
.mfn-demo-data .item[data-id="sportsman"] .item-image{background-position:-910px -6665px}
.mfn-demo-data .item[data-id="supplier"] .item-image{background-position:-1092px -6665px}
.mfn-demo-data .item[data-id="landing2"] .item-image{background-position:-1274px -6665px}
.mfn-demo-data .item[data-id="cryptocurrency"] .item-image{background-position:-0 -6820px}
.mfn-demo-data .item[data-id="product"] .item-image{background-position:-182px -6820px}
.mfn-demo-data .item[data-id="band2"] .item-image{background-position:-364px -6820px}
.mfn-demo-data .item[data-id="company3"] .item-image{background-position:-546px -6820px}
.mfn-demo-data .item[data-id="county"] .item-image{background-position:-728px -6820px}
.mfn-demo-data .item[data-id="creative3"] .item-image{background-position:-910px -6820px}
.mfn-demo-data .item[data-id="minimal2"] .item-image{background-position:-1092px -6820px}
.mfn-demo-data .item[data-id="vet2"] .item-image{background-position:-1274px -6820px}
.mfn-demo-data .item[data-id="navigation"] .item-image{background-position:-0 -6975px}
.mfn-demo-data .item[data-id="interior3"] .item-image{background-position:-182px -6975px}
.mfn-demo-data .item[data-id="movie2"] .item-image{background-position:-364px -6975px}
.mfn-demo-data .item[data-id="lawyer4"] .item-image{background-position:-546px -6975px}
.mfn-demo-data .item[data-id="erp"] .item-image{background-position:-728px -6975px}
.mfn-demo-data .item[data-id="recipes2"] .item-image{background-position:-910px -6975px}
.mfn-demo-data .item[data-id="interior4"] .item-image{background-position:-1092px -6975px}
.mfn-demo-data .item[data-id="beauty3"] .item-image{background-position:-1274px -6975px}
.mfn-demo-data .item[data-id="insurance2"] .item-image{background-position:-0 -7130px}
.mfn-demo-data .item[data-id="football"] .item-image{background-position:-182px -7130px}
.mfn-demo-data .item[data-id="builder2"] .item-image{background-position:-364px -7130px}
.mfn-demo-data .item[data-id="estate2"] .item-image{background-position:-546px -7130px}
.mfn-demo-data .item[data-id="drone"] .item-image{background-position:-728px -7130px}
.mfn-demo-data .item[data-id="clinic3"] .item-image{background-position:-910px -7130px}
.mfn-demo-data .item[data-id="restaurant3"] .item-image{background-position:-1092px -7130px}
.mfn-demo-data .item[data-id="internet2"] .item-image{background-position:-1274px -7130px}
.mfn-demo-data .item[data-id="burger2"] .item-image{background-position:-0 -7285px}
.mfn-demo-data .item[data-id="school2"] .item-image{background-position:-182px -7285px}
.mfn-demo-data .item[data-id="coffee3"] .item-image{background-position:-364px -7285px}
.mfn-demo-data .item[data-id="agency3"] .item-image{background-position:-546px -7285px}
.mfn-demo-data .item[data-id="car2"] .item-image{background-position:-728px -7285px}
.mfn-demo-data .item[data-id="cakes"] .item-image{background-position:-910px -7285px}
.mfn-demo-data .item[data-id="tailor2"] .item-image{background-position:-1092px -7285px}
.mfn-demo-data .item[data-id="renovate3"] .item-image{background-position:-1274px -7285px}
.mfn-demo-data .item[data-id="gunrange"] .item-image{background-position:-0 -7440px}
